@import '~font-awesome/css/font-awesome.css';

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.space-between{
  justify-content: space-between;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.hide{
  display: none !important;
}

.text-ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}