th, td{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table{
  border-collapse: collapse;
}

tr:hover{
  background-color: #ddd;
  cursor: pointer;
}

.container{
  padding: 0 15vw;
}
@media only screen and (max-width: 1200px) {
  .container{
    padding: 0 5vw;
  }
}
.header{
  position: relative;
  color: inherit;
  height: 50px;
  font-size: 25px;
  line-height: 30px;
  padding: .625rem 0;
  font-weight: 300;
  margin-left: 1rem;
  font-weight: bold;
  color: #2a30ff;
}

input{
  margin: 8px 0;
  height: 24px;
}

.owl-prev, .owl-next{
  background: #958457;
  width: 24px;
  height: 24px;
  color: #ffffff;
  text-align: center;
  line-height: 24px;
  margin-left: 4px;
  cursor: pointer;
}
.owl-nav{
  margin-top: 16px;
}