.big-img img {
  width: 420px;
  height: 420px;
}

.view-container {
  flex-direction: column;
  padding: 32px 15vw;
}
@media only screen and (max-width: 1200px) {
  .view-container {
    padding: 64px 5vw;
  }
}

i {
  cursor: pointer;
}

.header {
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  margin: 20px 0;
}

.price {
  color: #d0021c;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  margin-bottom: 16px;
}

.detail{
  flex-direction: column;
}
.description-container{
  flex-direction: column;
  margin-bottom: 20px;
}

.buy-now{
  background-color: #fb6e2e;
  width: 220px;
  height: 50px;
  margin-right: 8px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.add-to-cart{
  background-color: #2f80ed;
  width: 220px;
  height: 50px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}